.SVGContainer{
    margin : 0% , 10%;
    position: relative;
}

.graph{
    
    background-color:#2d3a3a; 
}

.tooltip{
    position : relative;
    display: inline-block;
    z-index: 1000000000;
}



  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100000;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }